/*                                          CSS                                     */

/* HTML sirve para darle estructura al contenido de una página web. Luego se introduce
CSS (Cascading Style Sheets), como una forma de agregar color y estilos a tal página. */

/*------------------------------------------------------------------------------------*/
/* REGLAS CSS

Una regla CSS está compuesta por un atributo o propiedad, y un valor. Según el atributo
que se use y el valor que se le pase, se obtendrán resultados distintos en el HTML: */

html {
    color: red; /* 'color' es la propiedad y 'red' el valor */
    font-size: 20px; /* 'font-size' es la propiedad y '12px' el valor */
}

/* En este ejemplo, se ven dos atributos. El primero, colo, permite modificar el color
del texto ( red - rojo), y el segundo indica el tamaño del texto (12px).

Hay atributos o propiedades que sólo toman un valor, y hay otros que toman más, como por
ejemplo 'border' (que dibuja un borde alrededor de un elemento), que recibe 3 valores:
1) color del borde, 2) ancho de la línea, 3) tipo de línea (continua, punteada, etc. */

/*------------------------------------------------------------------------------------*/
/* FORMAS DE DAR ESTILO

Antes de empezar a dar estilo hay que notificar al browser que vamos a darle reglas para
el mismo:

- Usando atributo Style: forma primitiva más simple, en la cual se le da una regla a cada
            tag HTML.

- Usando el Tag <style/>: Se utiliza en el <head> del documento HTML para agrupar todas
            las reglas que luego queremos que se apliquen a los elementos HTML.

- Usando el tag <link/>: Permite definir reglas CSS en un documento separado y importarlo
            a la página (tiene la ventaja de que puede hacerse una única vez para
            aplicarlo a varias páginas. */

/*------------------------------------------------------------------------------------*/
/* ATRIBUTO STYLE

Todos los tags HTML pueden recibir el atributo 'style', que indica las reglas CSS que se
aplican únicamente al documento que las tiene:

``` <h1 style="color:blue;"> Esto es un título Azul</h1> ```

/*------------------------------------------------------------------------------------*/
/* <style>

Se recibe en el <head> del documento y nos permite escribir reglas que se aplicarán a
uno o varios elementos HTML. De esta forma, se le puede dar estilo a muchos elementos
de una sola vez, pero sólo a los elementos que estén en el mismo documento:

```
<html>
    <head>
        <style>
            <!-- Acá van las reglas de estilo para le documento -->
        </style>
    </head>
    <body>
    </body>
</html>
```

/*------------------------------------------------------------------------------------*/
/* <link>

Con el tag <link> dentro del <head> dentro del documento, vamos a poder importar un
archivo CSS que contenga varias reglas. Funciona de manera similar al <style>, pero con
la ventaja de que el mismo archivo CSS con las reglas puede compartirse con varios
documentos HTML.

```
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
    </body>
</html>
```
/*------------------------------------------------------------------------------------*/
/* SELECTORES

Para poder aplicar reglas de estilo a los elementos HTML, se necesita una forma de saber
cómo seleccionar aquellos elementos a los que se les desean aplicar las reglas, y para
esto sirven los SELECTORES CSS. */

p {
    color: red; /* 'p' es el Selector, la expresión 'color: red;' es la declaración */
}                 /* siendo 'color' una propiedad o atributo y 'red' el valor. */

/* Hay varios tipos de selectores. Los más básicos son los selectores de tipo, que
indican a qué clase de elementos van a aplicarse las reglas (el ejemplo anterior es un
selector de tipo, indicando: aplicarlo a todos los elementos de tipo <p> la regla de
texto color rojo).

El selector de tipo se puede usar con cualquier tipo de tag: 'p', 'div', 'body', etc.

```
<div id="divId"></div>
<div class="divClass"></div>
```

ID = nombres que sólo pueden aparecer una vez en el documento. Es muy específico.
CLASS = se le puede asignar el nombre de una clase a un grupo de elementos HTML. */

/* SELECTORES BÁSICOS

- Selector de Tipo: selecciona todos los elementos que coinciden con el nombre del
        elemento especificado.
        - Sintaxis: eltname . Ej: input se aplicará a cualquier elemento <input>.

- Selector de Clase: selecciona todos los elementos que tienen el atributo 'Class'.
        - Sintaxis: .classname . Ej: .index seleccionará cualquier elemento de la clase
        'index'

- Selector de ID: selecciona un elemento basándose en el valor de su atributo ID. Sólo
        puede haber un elemento con un determinado ID dentro de un documento.
        - Sintaxis: #idname . Ej: #toc se aplicará a cualquier elemento con el ID 'toc'.

- Selector Universal: selecciona todos los elementos. Opcionalmente, puede estar
        restringido a un espacio de nombre específico o a todos los espacios de nombres.
        - Sintaxis: ns// . Ej: * se aplicará a todos los elementos del documento.

- Selector de Atributo: selecciona elementos basándose en el valor de un determinado
        atributo.
        - Sintaxis: [attr] [attr=value] [attr~=value] [attr|=value] [attr^= value]
        [attr$=value] [attr*=value] . Ej: [autoplay] seleccionará todos los elementos que
        tengan el atributo "autoplay" establecido (a cualquier valor). */

/*------------------------------------------------------------------------------------*/
/* ANATOMÍA DE LAS REGLAS DE ESTILO

